{%extends 'base.html'%}
{%block title%}Language Learner - Traditio{%endblock%}
{%block content%}
<style>
  .phrase {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  .phrase{
    border: 1px solid
  }
</style>
<br />
<h1 align = "center">Learn</h1>
<br />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id = "languages" style = "width: 550px;margin:auto">
  <button
    class="navbar-toggler"type="button"data-toggle="collapse"data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      {%for language in ["Malay","Mandarin","Filipino","Tamil","Hindi","Urdu","Bangla","Japanese"]%}
      <a class="nav-item nav-link" id="{{language}}" onclick = "changeLanguage('{{language}}')">{{language}}</a>
      {%endfor%}
    </div>
  </div>
</nav>
<br />
<h4 align = "center" id = "phrase-heading">Random Phrase in Malay</h4>
<div class = "phrase" align = "center">
  <h3 id = "phrase-text"></h5>
</div>
<a style = "color:gray" href="#" class="ui-btn ui-corner-all ui-icon-refresh ui-btn-icon-notext" onclick = "refresh()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
  <path d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A7 7 0 1 1 8 2v1z"/>
  <path d="M8 4.466V.534a.25.25 0 0 1 .41.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.5.5 0 1 1 8 4.466z"/>
</svg></a>
{%for i in [1,2,3,4,5]%}
<br />
{%endfor%}
<button class="btn btn-primary" style = "background-color:#D17777;border:none;transform:translate(310%,0%)" onclick = "">Practice!</button>
<script>
  window.onload = function (){
    var l = "Malay"
    changeLanguage(l)
  }
  function changeLanguage(language){
    l = language
    for(i of document.getElementsByClassName("active")){
      i.className = "nav-item nav-link"
    }
    theme = ["food", 'culture', 'greetings', 'travel', 'shopping', 'environment'][Math.floor(Math.random()*6)]
    transliteration = true
    if(language == "Filipino" || language == "Malay"){
      transliteration = false
    }
    document.getElementById(language).className = "nav-link nav-item active"
    document.getElementById("phrase-heading").innerText = "Random Phrase in "+language
    if(transliteration){
    gemini("Give me ONE unique commonly used phrase about "+theme+", NOT ALWAYS FOOD, a transliteration if the language does not use latin script, and the translation in English and a sample sentence (all seperated by a line break) in "+language+". Only give the above , and don't start with 'Sure, here's ...'). It should be in the following structure: The chosen phrase [linebreak] transliteration [linebreak] translation in english (the meaning, not literal translation) [linebreak] sample sentence in language using the phrase [linebreak] transliteration  [linebreak] translation into english (not literal translation). The [linebreak] must be included in plaintext please",'phrase-text')
    }
    else{
      gemini("Give me ONE unique commonly used phrase about "+theme+", NOT ALWAYS FOOD, a transliteration if the language does not use latin script, and the translation in English and a sample sentence (all seperated by a line break) in "+language+". Only give the above , and don't start with 'Sure, here's ...'). It should be in the following structure: The chosen phrase  [linebreak] translation in english (the meaning, not literal translation) [linebreak] sample sentence in language using the phrase [linebreak] translation into english (not literal translation). The [linebreak] must be included in plaintext please",'phrase-text')
    }
  }
  function refresh(){
    changeLanguage(l)
  }
</script>
{%endblock%}